*{
	padding: 0px;
	margin: 0px;

}
/*logo*/
#head{
	position: fixed;
	height: auto;
	width: 100%;
	background-color: grey;
}
/*solarsystem*/
#mercury {
position: fixed;
top: -15px;
left: 40px;
height: 40px;
width: 40px;
}
#mercury-orbit {
position: fixed;
top: 450px;
left: 500px;
width: 150px;
height: 150px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 5s linear infinite;
cursor:pointer;
}
#venus {
position: fixed;
top: 10px;
left: 20px;
height: 40px;
width: 40px;
}
#venus-orbit {
position: fixed;
top: 400px;
left: 450px;
width: 250px;
height: 250px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 10s linear infinite;
}
#earth {
position: fixed;
top: 0px;
left: 235px;
height: 40px;
width: 40px;
}
#earth-orbit {
position: fixed;
top: 350px;
left: 400px;
width: 350px;
height: 350px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 15s linear infinite;
}
#mars {
position: fixed;
top: 400px;
left: 100px;
height: 45px;
width: 45px;
}
#mars-orbit {
position: fixed;
top: 300px;
left: 350px;
width: 450px;
height: 450px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 20s linear infinite;
}
#jupiter {
position: fixed;
top: 38px;
left: 430px;
height: 80px;
}
#jupiter-orbit {
position: fixed;
top: 250px;
left: 300px;
width: 550px;
height: 550px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 25s linear infinite;}
#saturn {
position: fixed;
top: 60px;
left: 60px;
height: 70px;
width: 70px;
}
#saturn-orbit {
position: fixed;
top: 200px;
left: 250px;
width: 650px;
height: 650px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 30s linear infinite;
}
#uranus {
position: fixed;
top: 615px;
left: 615px;
height: 50px;
width: 50px;
}
#uranus-orbit {
position: fixed;
top: 150px;
left: 200px;
width: 750px;
height: 750px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 35s linear infinite;
}
#neptune{
position: fixed;
top: 770px;
left: 190px;
height: 50px;
width: 50px;
}
#neptune-orbit {
position: fixed;
top: 100px;
left: 150px;
width: 850px;
height: 850px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 40s linear infinite;
}
#sun {
position: fixed;
top: 485px;
left: 535px;
height: 80px;
width: 80px;
}
#moon{
position: fixed;
top: 0px;
left: 45px;
height: 20px;
width: 25px;
animation: spin-right 1s linear infinite;									
}
#moon-orbit{
position: fixed;
top: -15px;
left: 220px;
width: 70px;
height: 70px;
border:solid 1px white;
border-radius: 50%;
animation: spin-right 1s linear infinite;
}
@keyframes spin-right {
100%{
transform: rotate(360deg);
}
}

/*sidebar*/
#sidebar{
	width: 180px;
	height: 100%;
	background: transparent;
	transform: translateX(-180px);
}
#sidebar ol li{
	color: white;
	list-style: none;
	padding: 22px 9px;
	text-align: center;
	text-transform: uppercase;
}
#sidebar ol li:hover{
	background: green;
	border-radius: 5px;
}
#sidebar .toggle{
	position:fixed;
	left: 190px;
	top: 10px;
	cursor: pointer;
}
#sidebar .toggle span{
	width: 30px;
	height: 5px;
	display: block;
	background-color: white;
	margin: 5px 0px;
}
#sidebar:hover{
	transform: translateX(0px);
	transition: .5s;
}
#sidebar ol{
	width: 100%;
}
#sidebar ol li a{
	color: white;
	text-decoration-line: none;
}

/*popup*/
#btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 70px;
  width: 70px;
  background-color: green;
  color: white;
  font-size: 32px;
  border-radius: 50%;
}
#content {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 32px;
}
#content a {
  margin-bottom: 20px;
  background-color: green;
  height: 70px;
  width: 70px;
  color: white;
  font-size: 32px;
  border-radius: 50%;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 70px;
}
#content a:hover {
  background-color: red;
  color: white;
}
#popup:hover #content {
  display: block;
}
#popup:hover #btn {
  background-color: red;
  transform: rotate(45deg);
  transition: .5s;
}
